# Ignore node_modules
node_modules/

# Ignore all .log files
*.log

# Ignore environment files
/frontend/config/network.js

# Ignore OS and IDE files
.DS_Store
.vscode/

cursor_commands.txt

# ignore storage
storage/
